@using Abp.Web.Mvc.Extensions
@model LearningMpaAbp.Web.Models.Tasks.IndexViewModel

@{
    ViewBag.Title = L("TaskList");
    ViewBag.ActiveMenu = "TaskList"; //Matches with the menu name in SimpleTaskAppNavigationProvider to highlight the menu item
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">



@section scripts{
    @Html.IncludeScript("~/Views/Tasks/index.js");
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
}
<h2>
    @L("TaskList")

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
        Create Task
    </button>

    <a class="btn btn-primary" data-toggle="modal" href="@Url.Action("Create")" data-target="#modal" role="button">（Create Task）使用Remote方式调用Modal进行展现</a>

    <span class="pull-right">
        @Html.DropDownListFor(
      model => model.SelectedTaskState,
      Model.GetTaskStateSelectListItems(),
      new
      {
          @class = "form-control",
          id = "TaskStateCombobox"
      })
    </span>
</h2>

<div class="row" id="taskList">
    @{ Html.RenderPartial("_List", Model);}
</div>


@{
    Html.RenderPartial("_CreateTask", Model.CreateTaskInput);
}

<div id="edit">

</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="createTask" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>

